*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 100%, 97%);
  color: hsl(220, 24%, 15%);
  height: 100dvh;
}

.nav-container{
  width: 100%;
  height: 7dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(220, 24%, 15%);
  color: white;
}

.nav-content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

  .logo{
    font-size: 1.5rem;
  }

  .nav-content>ul{
    list-style-type: none;
  }
  
  .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-link a{
    display: inline-block;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 1.2rem;
    color: white;
    transition: transform .3s ease-in-out;
    will-change: transform;
  }
  
  .nav-link a:hover{
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: underline;
  }

  .home-main{
    height: 87dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-main h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .home-main h3{
    font-size: 1.45rem;
    margin-bottom: 1.2rem;

  }

  .home-main p{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }

  .home-main a{
    width: 12rem;
    height: 5rem;
    text-decoration: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 1.8rem;
    background-color: hsl(220, 24%, 15%);
    border: 0.2rem solid hsl(220, 24%, 15%);
    border-radius: .8rem;
    outline: 0.2rem solid white;
    outline-offset: -.5rem;
  }

  footer{
    font-size: .8rem;
    background-color: hsl(220, 24%, 15%);
    height: 6dvh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-main h1{
    font-size: 2rem;
  }

  .about-main h3{
    font-size: 2rem;
    margin-top: 1.2rem;
  }

  .about-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 1.5rem;
  }

  .about-list li{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .about-main p{
    font-size: 1.5rem;
  }

  #work{
    font-size: 1.5rem;
    margin-top: .5rem;
  }

  #built{
    font-size: 1.2rem;
  }

  #built-list li{
    font-size: 1.5rem;
  }

  .user-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    /* height: max-content; */
    height: 84dvh;
    margin-bottom: 2rem;
    gap: 8px;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: "#e3f2fd";
    border-radius: .5rem;
    transition: all .4s ease-in-out;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 17rem;
    height: 14rem;
    transition: .4s ease-in-out;
  }

  .profile-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .profile-img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: .5rem;
  }

  .profile-name{
    font-size: 1.3rem;
    margin-bottom: .15rem;
  }

  .profile-email{
    font-size: 1rem;
    margin-bottom: .15rem;
  }

  .profile-age{
    font-size: 1rem;
    margin-bottom: .15rem;
  }

  .pagination{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 3s;
  }

  .paginate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .pagination a{
    padding: 8px;
    margin: 1.5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid hsl(220, 24%, 15%);
  }

  .pagination a:hover{
    color: white;
    transition: ease-in 0.2s;
    background-color: hsl(220, 24%, 15%);
  }

  a:active{
    color: white;
    background-color: hsl(220, 24%, 15%);
  }
  
  .page-active{
    color: white;
    background-color: hsl(220, 24%, 15%);
    border-radius: 5px;
  }

  .move:hover{
    background-color: hsl(220, 24%, 15%);
  }

  Button{
    cursor: pointer;
    margin: 4.5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid hsl(220, 24%, 15%);
    background-color: hsl(220, 24%, 15%);
  }

  @media (min-width: 768px) {

    .nav-container{
      height: 9dvh;
    }

    .logo{
      font-size: 2rem;
    }

    .nav-link a{
      font-size: 1.5rem;
    }

    .home-main{
      height: 85dvh;
    }

    .home-main h1{
      font-size: 3.5rem;
    }

    .home-main h3{
      font-size: 1.5rem;
    }

    .home-main p{
      font-size: 1.2rem;
    }

    .home-main a{
      width: 10rem;
      height: 4rem;
    }

    footer{
      font-size: 1rem;
    }

    .about-main>h1{
      font-size: 1.5rem;
    }

    .about-main>h3{
      font-size: 1.5rem;
    }

    .about-list>li{
      font-size: 1rem;
    }

    .user-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      height: 80dvh;
      justify-content: center;
      width: 80%;
      align-items: center;
      margin: 0 auto;
    }

    .profile-card{
      width: 12rem;
      height: 12rem;
    }

    .profile-img{
      width: 5rem;
      height: 5rem;
    }

    .profile-name{
      font-size: 1rem;
    }

    .profile-email{
      font-size: .8rem;
    }

    .profile-age{
      font-size: .8rem;
    }

    .pagination a {
      padding: 8px;
      margin: 6px;
    }

    Button {
      margin: 7px;
    }

  }

  @media (min-width: 1024px) {
    
    .logo{
      font-size: 3rem;
    }

    
    .nav-container{
      height: 9dvh;
    }
    
    .nav-link a{
      font-size: 1.65rem;
    }

    .home-main{
      height: 85dvh;
    }

    .home-main h1{
      font-size: 4.5rem;
    }

    .home-main h3{
      font-size: 2.3rem;
      margin-top: 1.5rem;
    }
    
    .home-main p{
      font-size: 2rem;
    }
    
    .home-main a{
      text-decoration: none;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      color: white;
      margin-top: .8rem;
      width: 13rem;
      height: 4.5rem;
      background-color: hsl(220, 24%, 15%);
      border: 0.2rem solid hsl(220, 24%, 15%);
      border-radius: .8rem;
      outline: 0.2rem solid white;
      outline-offset: -.5rem;
      }
    
      footer{
        background-color: hsl(220, 24%, 15%);
        height: 6dvh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.05rem;
      }
    
      .about-main>h1{
        font-size: 1.69rem;
      }
    
      .about-main>h3{
        font-size: 1.69rem;
        margin-top: 1.2rem;
      }
    
      .about-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: .5rem;
      }
    
      .about-list>li{
        font-size: 1.3rem;
        margin-bottom: .5rem;
      }
      
      #built{
        margin-top: 2rem;
      }
    
      .user-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 8px;
        height: 80dvh;
        justify-content: center;
        width: 80%;
        align-items: center;
        margin: 0 auto;
        }
    
      .profile-card{
        width: 15rem;
        height: 13.5rem;
      }

      .profile-img{
        width: 7rem;
        height: 7rem;
      }
    
      .profile-name{
        font-size: 1.3rem;
      }
    
      .profile-email{
        font-size: 1rem;
      }
    
      .profile-age{
        font-size: 1rem;
      }
    
      .pagination{
        width: 100%;
      }
    
      .pagination a {
        padding: 10px;
        margin: 3px;
      }
    
    Button {
      margin: 6px;
    }
    
    } 
